# Dictionaries

In [7]:
my_dictionaries = {
    "name":"rahel",
    "college":"Burdwan Raj College",
    "number":7586051071
}

In [8]:
my_dictionaries["number"]       # retrieve value from the dictionaries using key

7586051071

In [9]:
my_dictionaries["year"] = 2021   # adding new value to thr dictionaries

In [10]:
my_dictionaries

{'name': 'rahel',
 'college': 'Burdwan Raj College',
 'number': 7586051071,
 'year': 2021}

In [11]:
empty_dictionaries = {}  # create an empty dictionaries

In [12]:
my_dictionaries["number"]= 7585098950  # edit value in dictionaries 
my_dictionaries

{'name': 'rahel',
 'college': 'Burdwan Raj College',
 'number': 7585098950,
 'year': 2021}

In [14]:
for key in my_dictionaries:            # loop through a dictionaries 
    value = my_dictionaries[key]
    print(value)

rahel
Burdwan Raj College
7585098950
2021

In [24]:
# Grading Program - coding exercise :
student_scores = {
  "Harry": 81,
  "Ron": 78,
  "Hermione": 99, 
  "Draco": 74,
  "Neville": 62,
}

student_grades = {}
for key in student_scores:
    value = student_scores[key]
    if value >90 :
        student_grades[key] = "outstanding"
    elif value > 80:
        student_grades[key] = "Exceed Expectation"
    elif value > 70:
        student_grades[key] = "Acceptable"
    else:
        student_grades[key] = "Fail"

print(student_grades)

{'Harry': 'Exceed Expectation', 'Ron': 'Acceptable', 'Hermione': 'outstanding', 'Draco': 'Acceptable', 'Neville': 'Fail'}

# Nesting

In [27]:
# nesting in a dictionaries:
travel_log = {
    "France":{"cities_visited":["paris","lille","dijon"]},
    "India":{"cities_visited":["kolkata","delhi","mumbai"]}
}

# nesting in a list:
travel_log_ = [
    {"country":"France","cities_visited":["paris","lille","dijon"],"total_visit":12},
    {"country":"India","cities_visited":["kolkata","delhi","mumbai"],"total_visit":10}
]

In [2]:
# adding dictionaries in list :
travel_log = [
{
  "country": "France",
  "visits": 12,
  "cities": ["Paris", "Lille", "Dijon"]
},
{
  "country": "Germany",
  "visits": 5,
  "cities": ["Berlin", "Hamburg", "Stuttgart"]
},
]
my_dictionaries = {}
def add_new_country(country,number_of_visit,cities_list):
    my_dictionaries["country"] = country
    my_dictionaries["visits"] = number_of_visit
    my_dictionaries["cities"] = cities_list
    travel_log.append(my_dictionaries)
    
  
add_new_country("Russia", 2, ["Moscow", "Saint Petersburg"])
print(travel_log)

[{'country': 'France', 'visits': 12, 'cities': ['Paris', 'Lille', 'Dijon']}, {'country': 'Germany', 'visits': 5, 'cities': ['Berlin', 'Hamburg', 'Stuttgart']}, {'country': 'Russia', 'visits': 2, 'cities': ['Moscow', 'Saint Petersburg']}]

In [1]:
bids = {}
continue_bidding = True

def find_highest_bidder(bidding_record):
    highest_number = 0
    for bidder in bidding_record:
        bid_amount = bidding_record[bidder]
        if bid_amount > highest_number:
            highest_number = bid_amount
            winner = bidder
    print(f"The winner id {winner} with a bid of ${highest_number}")
        

while continue_bidding:
    name = input("enter your name ")
    price = int(input("enter your bid price "))
    bids[name]= price
    user_input = input("Are there any others bidder 'Yes' or 'No':")
    if user_input == "n":
        continue_bidding = False
        find_highest_bidder(bids)

enter your name rahel
enter your bid price 123
Are there any others bidder 'Yes' or 'No':y
enter your name tamu
enter your bid price 456
Are there any others bidder 'Yes' or 'No':y
enter your name khusi
enter your bid price 567
Are there any others bidder 'Yes' or 'No':n
The winner id khusi with a bid of $567